.main-footer .footer-band {
    position: relative;
    height: 400px;
    background-image: url("../img/footer-band.svg");
    background-repeat: no-repeat;
    background-size: auto 400px;
    background-position: top right;
    margin: 16px 0;
}
.footer-band .about-section {
    padding: 0 20px;
    max-width: 800px;
}
.about-section h1 {
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f00;
    color: #fff;
    border-radius: 4px;
    float: left;
}
.about-section p {
    clear: both;
    font-size: 16px;
}
.footer-band .contacts {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    max-width: 400px;
    text-align: right;
}
.contacts li {
    position: relative;
    padding: 20px 60px 20px 0;
    line-height: 30px;
}
.contacts li span {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #00f;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}
.social-media {
    background-color: #000;
    width: 100%;
}

.social-media .social-media-links {
    width: 240px;
    margin: 0 auto;
    padding: 10px 0;
}

.social-media-links a {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}
.social-media-links a:not(:last-child) {
    margin-right: 10px;
}
.social-media a:hover,
.social-media a:active {
    background-color: #ccc;
    text-decoration: none;
}
.copyright-info {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}