.trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trip {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: #000;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.trip-thumbnail {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: opacity .3s;
}
.trip.lion .trip-thumbnail {
    background-image: url(../img/lion.jpg);
}
.trip.sipi-falls .trip-thumbnail {
    background-image: url(../img/sipi-falls.jpg);
}
.trip.buffet .trip-thumbnail {
    background-image: url(../img/buffet.jpg);
}
.trip.gorilla .trip-thumbnail {
    background-image: url(../img/gorilla.jpg);
}
.trip .trip-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.trip .trip-details p {
    height: 0;
    overflow: hidden;
}
.trip:hover .trip-thumbnail {
    opacity: .3;
}
.trip:hover .trip-details p {
    height: auto;
}
.trip .trip-title {
    font-size: 20px;
    line-height: 40px;
}
.single-trip {
    position: relative;
}
.single-trip iframe {
    width: 100% !important;
    height: 649px !important;
}
.single-trip .trip-images {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 20px;
}
.trip-images .trip-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/lion.jpg);
    background-size: cover;
    border: 2px solid #000;
    margin-right: -40px;
}
.trip-images .trip-image:nth-child(even) {
    transform: translateY(-40px);
}