<footer class="main-footer">
    <div class="footer-band">
        <article id="about-us" class="content-section about-section">
            <header>
                <h1>About Us</h1>
            </header>
            <section>
                <p>Time 2 Fly Tours & Travel Limited is a locally owned independent travel agency registered under the companies act of Uganda it was incorporated on the 06 July 2018.</p>
                <p>Our office premises are conveniently located on Plot 3, Pilkington Road, NIC Building Kampala , Uganda with a modern, spacious and conducive professional working atmosphere.Explore the world, Travelling is Knowledge.</p>
            </section>
        </article>
        <article id="contacts" class="content-section contacts">
            <header>
                <h1>Contact Us</h1>
            </header>
            <section>
                <ul>
                    <li>www.time2flytours.com <span class="fa fa-lg fa-globe"></span></li>
                    <li>time2fly06@gmail.com <span class="fa fa-lg fa-envelope"></span></li>
                    <li>+256 782 142763
                        <br>+256 701 397456 <span class="fa fa-lg fa-phone"></span></li>
                    <li>+256 783 084521 <span class="fa fa-lg fa-whatsapp"></span></li>
                    <li>Plot3, Pilkington Road, NIC Building, P.O.Box 8856, Kampala, Uganda <span class="fa fa-lg fa-map-marker"></span></li>
                </ul>
            </section>
        </article>
    </div>
    <div class="social-media">
        <h1>Let's keep in touch</h1>
        <div class="social-media-links clearfix">
            <a href="intent://+256783084521#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="fa fa-lg fa-whatsapp"></a>
            <a href="https://web.facebook.com/Time2Fly5/" target="_blank" class="fa fa-lg fa-facebook"></a>
            <a href="https://twitter.com/Time2Fly5" target="_blank" class="fa fa-lg fa-twitter"></a>
            <a href="https://www.linkedin.com/company/time2fly/" target="_blank" class="fa fa-lg fa-linkedin"></a>
            <a href="https://www.instagram.com/time2fly_ug/" target="_blank" class="fa fa-lg fa-instagram"></a>
            <a href="https://www.tripadvisor.com/Profile/Time2Fly5" target="_blank" class="fa fa-lg fa-tripadvisor"></a>
        </div>
    </div>
    <div class="copyright-info">Copyright &copy; 2019 Time2Fly Ltd. All Rights Reserved.</div>
</footer>
