<header class="main-header clearfix">
    <a class="page-title clearfix" href="index.html">
        <div class="logo"></div>
        <h1 class="clearfix">
                <div class="title">
                    <span>Time</span><span>2</span><span>Fly</span>
                </div>
                <div class="tag-line">Tours &amp; Travel Ltd</div>
            </h1>
    </a>
    <nav class="main-menu clearfix">
        <div class="widgets clearfix">
            <div class="widget clock"></div>
            <div class="widget temperature">24&#8451;</div>
        </div>
        <div class="menu-toggle glyphicon glyphicon-menu-hamburger"></div>
        <ul class="clearfix">
            <li class="selected"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#">Trips</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>
