<footer class="main-footer">
    <div class="footer-band"></div>
    <div class="social-media">
        <div class="social-media-links clearfix">
            <a href="intent://0783084521#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end" class="fa fa-lg fa-whatsapp"></a>
            <a href="https://web.facebook.com/Time2Fly5/" target="_blank" class="fa fa-lg fa-facebook"></a>
            <a href="https://twitter.com/Time2Fly5" target="_blank" class="fa fa-lg fa-twitter"></a>
            <a href="https://www.linkedin.com/company/time2fly/" target="_blank" class="fa fa-lg fa-linkedin"></a>
            <a href="https://www.instagram.com/time2fly_ug/" target="_blank" class="fa fa-lg fa-instagram"></a>
        </div>
    </div>
</footer>
