<header class="main-header clearfix">
    <a class="page-title clearfix" href="index.html">
        <div class="logo"></div>
        <h1 class="clearfix">
                <div class="title">
                    <span>Time</span><span>2</span><span>Fly</span>
                </div>
                <div class="tag-line">Tours &amp; Travel Ltd</div>
            </h1>
    </a>
    <div class="main-menu clearfix">
        <div class="widgets clearfix">
            <div class="widget clock"></div>
            <div class="widget temperature">24&#8451;</div>
        </div>
        <div class="menu-toggle glyphicon glyphicon-menu-hamburger"></div>
        <nav id="main-menu">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about-us">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#trips">Trips</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacts">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
