<article class="content-section">
    <header>
        <h1>Some Of Our Major Airline Partners</h1>
    </header>
    <section class="partners clearfix">
        <a href="https://www.kenya-airways.com" target="_blank"><img src="assets/kenya-airways.svg" alt="Kenya Airways"></a>
        <a href="https://www.flydubai.com" target="_blank"><img src="assets/flydubai.jpg" alt="Fly Dubai"></a>
        <a href="https://www.qatarairways.com" target="_blank"><img src="assets/qatar-airways.png" alt="Qatar Air"></a>
        <a href="https://www.rwandair.com" target="_blank"><img src="assets/rwandair.png" alt="Rwanda Air"></a>
        <a href="https://www.airfrance.com" target="_blank"><img src="assets/air-france.png" alt="Air France"></a>
        <a href="https://www.turkishairlines.com" target="_blank"><img src="assets/turkish-airlines.png" alt="Turkish Airways"></a>
        <a href="http://www.jambojet.com" target="_blank"><img src="assets/jambo-jet.png" alt="Jambo Jet"></a>
        <a href="https://www.etihad.com" target="_blank"><img src="assets/etihad.svg" alt="Etihad Airways"></a>
        <a href="https://www.ethiopianairlines.com" target="_blank"><img src="assets/ethiopian-airways.png" alt="Ethiopian Airways"></a>
        <a href="https://www.brusselsairlines.com" target="_blank"><img src="assets/brussels-airlines.jpg" alt="Brussels Air"></a>
        <a href="https://www.flysaa.com" target="_blank"><img src="assets/south-african-airways.png" alt="South African Airways"></a>
        <a href="https://www.klm.com" target="_blank"><img src="assets/klm.svg" alt="KLM"></a>
        <a href="https://www.emirates.com" target="_blank"><img src="assets/emirates.png" alt="Emirates"></a>
        <a href="https://www.egyptair.com" target="_blank"><img src="assets/egyptair.svg" alt="Egypt Air"></a>
    </section>
</article>
