<article id="services" class="content-section">
    <header>
        <h1>Why Book With Us</h1>
    </header>
    <section class="services clearfix">
        <a href="visa.html" class="service">
            <div class="service-icon visa"></div>
            <div class="service-title">Visa Advice And Assistance Service</div>
        </a>
        <a href="computerized-airline.html" class="service">
            <div class="service-icon aviation"></div>
            <div class="service-title">Computerized Airline, Hotel &amp; Car Hire</div>
        </a>
        <a href="tours.html" class="service">
            <div class="service-icon umbrella"></div>
            <div class="service-title">Holiday
                <br>Tours &amp; Travel Packages</div>
        </a>
        <a href="air-ticketing.html" class="service">
            <div class="service-icon ticket"></div>
            <div class="service-title">Local &amp; International Air Ticketing</div>
        </a>
        <a href="educational-tours.html" class="service">
            <div class="service-icon tourist"></div>
            <div class="service-title">Educational Tours &amp; Travel Packages</div>
        </a>
        <a href="reservations.html" class="service">
            <div class="service-icon reservation"></div>
            <div class="service-title">Local, Regional &amp; International Reservations</div>
        </a>
    </section>
    <div class="travel-quote">Explore the world, traveling is knowledge</div>
</article>
