<div class="single-trip">
    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d2042336.926457975!2d32.377194817488565!3d1.1860028895123895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d0.2940135!2d32.6258026!4m5!1s0x179d78472f061321%3A0x5eeb7a7b1c21a0ba!2sMoroto!3m2!1d2.5282234!2d34.6579985!5e0!3m2!1sen!2sug!4v1555684167349!5m2!1sen!2sug" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="trip-images">
        <div class="trip-image major-trip-image">
            <div class="image" style="background-image: url('img/trips/northern-uganda/murchison_falls (bigger image).jpg')"></div>
        </div>
        <div class="minor-trip-images">
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/murchison_falls2.jpg')"></div>
            </div>
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/murchison_falls3.jpg')"></div>
            </div>
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/murchison_falls4.jpg')"></div>
            </div>
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/murchison_falls.national park.jpeg')"></div>
            </div>
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/Ssezibwa falls.jpg')"></div>
            </div>
            <div class="trip-image">
                <div class="image" style="background-image: url('img/trips/northern-uganda/country inn - masindi.jpg')"></div>
            </div>
        </div>
    </div>
    <header class="trip-header">
        <div class="itenerary-branding">
            <div>3 Days Itinerary Breakdown</div>
        </div>
        <div class="trip-heading">
            <div class="title">To North Western Uganda</div>
            <div class="quote">Explore Uganda. Travelling is Knowledge</div>
        </div>
        <div class="book-now-branding">
            <div>Book now</div>
        </div>
    </header>
    <div class="trip-details">
        <ul class="itenerary-break-down">
            <li>
                <h2>Day #001:</h2>
                <p>Pick up point - City Square - Sezibwa river - Lunch - Continue to Masindi - Accommodation - Dinner.</p>
            </li>
            <li>
                <h2>Day #002:</h2>
                <p>Breakfast - Game drive in Murchison Falls National Park - Bulisa - Dinner - Camp fire.</p>
            </li>
            <li>
                <h2>Day #003:</h2>
                <p>Breakfast - Take a village walk - Travel back to Kampala.</p>
            </li>
        </ul>
        <div class="exclusions">
            <h2>Exclusions</h2>
            <ul>
                <li>Tips to local people</li>
                <li>Telephone costs</li>
                <li>Porter fee</li>
                <li>Personal travel or health insurance</li>
                <li>Additional activities</li>
            </ul>
        </div>
    </div>
</div>
