<article id="trips" class="content-section">
    <header>
        <h1>Trips</h1>
    </header>
    <section class="trips clearfix">
        <a href="#" class="trip lion">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">To North Western Uganda</div>
                <p>Pick up point City Square to Sezi...</p>
            </div>
        </a>
        <a href="#" class="trip sipi-falls">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">In Central Uganda</div>
                <p>Pick up point City Square to Ugan...</p>
            </div>
        </a>
        <a href="#" class="trip buffet">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">To Eastern Uganda</div>
                <p>Pick up point City Square to Jinj...</p>
            </div>
        </a>
        <a href="#" class="trip gorilla">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">To Game Parks</div>
                <p>Pick up point City Square...</p>
            </div>
        </a>
    </section>
</article>
