<article id="trips" class="content-section">
    <header>
        <h1>Trips</h1>
    </header>
    <section class="trips clearfix">
        <a href="trip.html" target="_blank" class="trip">
            <span class="trip-thumbnail" style="background-image: url('img/trips/northern-uganda/murchison_falls (bigger image).jpg')"></span>
            <div class="trip-details">
                <div class="trip-title">To North Western Uganda</div>
                <p>Pick up point - City Square - Sezibwa river - Lunch - Continue to Masindi - Accommodation - Dinner...</p>
            </div>
        </a>
        <a href="trip.html" target="_blank" class="trip sipi-falls">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">In Central Uganda</div>
                <p>Pick up point City Square to Ugan...</p>
            </div>
        </a>
        <a href="trip.html" target="_blank" class="trip buffet">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">To Eastern Uganda</div>
                <p>Pick up point City Square to Jinj...</p>
            </div>
        </a>
    </section>
</article>
