<article id="services" class="content-section">
    <header>
        <h1>Trips</h1>
    </header>
    <section class="trips clearfix">
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
        <a href="#" class="trip">
            <div class="trip-thumbnail"></div>
            <div class="trip-title">This is a title for a trip</div>
        </a>
    </section>
</article>
